In [14]:
"""Q1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6 """

# Ans- Below once are the values
#      hello , -87.8 and 6

# Below once are the expression
#      * , - , / ,  +

In [15]:
"""Q2 What is the difference between string and variable? """

# Ans- String is the data type.
# Variable is something in which we can store data or oject.

In [18]:
"""Q3 Describe three different data types."""

# Ans- Int -  It can return any interger value which we provide as input.
# Float - It can return any real number value which we provide as input.
# Comp  - It can return any Complex number value which we provide as input. eg 2+3j

In [21]:
"""Q4 What is an expression made up of? What do all expressions do? """

# Ans- Expression are made of airthmatic operator, function and logic which we create.
# expression solve the aithmatic equation or the logic and provide a value of the same.

In [24]:
"""Q5 This assignment statements, like spam = 10. What is the difference between an
expression and a statement? """

# Ans- In statement we define the value dirctly, were as in expression we extract the value
# using variable, operators or logics

In [27]:
"""Q6 After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1 """

# Ans- bacon is still 22  , as we have not defined it again.
# See below for reference

bacon = 22
bacon + 1

23

In [28]:
bacon

22

In [29]:
"""Q7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3 """

# Ans- 'spam' + 'spamspam' will give 'spamspamspam'
# spam' * 3 will also give 'spamspamspam'
# See below for reference

'spam' + 'spamspam'

'spamspamspam'

In [31]:
'spam' * 3

'spamspamspam'

In [35]:
"""Q8 Why is eggs a valid variable name while 100 is invalid?"""

# Ans- 100 can be a value also, so it create confusion hence we avoid it.
# eggs can also be avalue but its a string value so it always seen as 'eggs', 
# were as varible eggs is always write as eggs,  without any semi colon.

In [36]:
"""Q9. What three functions can be used to get the integer, floating-point number, or string
version of a value? """

#Ans- int(), will give integer value
# float(), will give floating-pont value
# str(), will give string value

print( " " )

In [38]:
""" 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.' """

#Ans- It is giving error becuse sum can not be done between int and str value.
# to reslove we can add the semi colon arornd 99.

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'